#main {width:1000px; margin:0 auto; position:relative;}

#header {height:359px; background:url(images/header-bg.jpg) no-repeat left top;}
#header, #content, #footer { font-size:0.75em;}

.col-1, .col-2, .col-3 , .col-4{ float:left;}

/*======= home.html =======*/
#page1 #content .col-1 {width:170px; margin-right:40px;}
#page1 #content .col-2 {width:150px; margin-right:40px;}
#page1 #content .col-3 {width:340px; margin-right:40px;}
#page1 #content .col-4 {width:140px; }

/*======= about-us.html =======*/
#page2 #content .col-1 {width:600px; margin-right:40px;}
#page2 #content .col-2 {width:280px;}


/*=========================*/


#footer {height:90px; background:url(images/footer-bg.jpg) no-repeat left top;}